
@media (max-width: 950px) {

.text-1 {
	font-size:1.025em;
}

.text-1 blockquote {
	margin: 1em .7em;
}
}

@media (max-width: 815px) {

.box p {
	font-size: .75em;
}
}

@media (max-width: 785px) {

header {
	height: 150px;
}
.menu {
	float: none;
	display: inline-block;
	text-align: center;
}

}