// VARIABLES
$color-text: #333;
$color-text-decoration: #3A9EDD;
$color-text-quote: #DD3333;


/* general */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* clearfix */
.group:before,
.group:after { content: " "; display: table; }
.group:after { clear: both; }

body {
	color: $color-text;
	font: {
		family: verdana;
		size: 1em;
		}
	-webkit-font-smoothing: antialiased;

}

.content {
	max-width: 1140px;
	margin:  0 auto;
}

header {
	background: #232323;
	height: 75px;
}

a {
	color: inherit;
	text-decoration: none;
}

#logo {
	text-transform: uppercase;
	color: #eee;
	margin: 0;
	margin: {
			left: 6px;
			top: 24px;
			bottom: 24px;}

	display: inline-block;
	font: {	size: 1.4em;
			weight: 400;
		}
	a {
	border: 2px solid $color-text-decoration;
	border-radius: 3px;
	padding: 4px;
	}
	}

.menu {
	float: right;
	margin: {
		right: 6px;
		top: 22px;
		bottom: 22px;
	}
	ul {
	margin: 0;
	padding: 0;
	}
	li {
	display: inline-block;
	color: $color-text-decoration;
	padding: 5px 0 5px 12px;
	font: {
		weight: 400;
		size: 1.1em;
	}
}
}

.menu li:hover {
	color: #65b3e4;
}

.sub-header {
	position: relative;
	top: 0;
	width: 100%;
	height: 7px;
	background: {
			image: url('../img/triangle-black-white.png');
			repeat: repeat-x;
			size: 14px 7px;
		}
	bottom: 4em;
}

/*
MAIN
 */

.uvod {
	text-align: center;
	font: {
		weight: 600;
		size: 1.1em;
	}

	margin: {
		top: 12px;
		bottom: 12px;
	}
	a {
	margin: 0 15px;
	background: $color-text-decoration;
	padding: 8px;
	border-radius: 6px;
	color: #fff;
	}
	h2 {
	margin: 0 0 24px 0;
	padding: 0;
	color: #444;
}
}


.background {
	text-align: center;
	margin: 6px 0;

	img {
	border-radius: 50%;
	padding-top: 2px;
}
}


.text-1 {
	color: $color-text-quote;
	font-size: 1.2em;
	margin: 0 6px;
	border: {
			top: 1px solid $color-text-decoration;
			bottom: 1px solid $color-text-decoration;
		}
	margin-bottom: 2px;
}

.text-2 {
	font-size: .75em;
	padding: 4px 6px;
}
